@charset "UTF-8";

body{
   background-color: #A69792;
}
header{
   text-align: center;
   color: #4e1620;
}
section{
   background: #F2E1D8;
   border-radius: 10px 15px 10px;
   padding: 15px;
   width: 500px;
   margin: auto;
   box-shadow: 5px 5px 10px rgba(115, 70, 95, 0.541);
}
footer{
   text-align: center;
   color: #592831;
   font-style: italic;
}
img#manha{
  width: 200px;
  height: 200px;
  border-radius:  50%;
  margin: auto;
}
div{
  text-align: center;
  padding: 8px;
}
