@charset 'UTF-8';



h1{
  color: #451A47;
  text-align: center;
  padding: 50px;
  font-family: 'Festive', cursive;
  font-size: 80px;
}
input{
  background-color: rgba(203, 110, 208, 0.452);
  color:black;
  border-radius: 10px;
  box-shadow: 100px;
  border-color: rgba(189, 2, 199, 0.349);
  padding-top: 10px;
  font-family: 'Uchen', serif;
  font-size: 25px;
}
input#somar{
  padding-bottom: 10px;
  margin-top: 5px;
  margin-left: 250px;
  text-align: center;
  color: #451A47;
  font-family: 'Uchen', serif;
}
main{
  background-color: rgba(175, 7, 184, 0.233); 
  width: 600px;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(129, 54, 133, 0.479);
  
}
div#res{
  padding-top: 20px;
  padding-left: 20px;
  color: #BD02C7;
  font-size: 20px;
  text-align: center;
  font-family: 'Uchen', serif;
}
